@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

html,
body {
    margin: 0;
}

body {
    background: #292939;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Calibri';
}

.container {
    background: #e2ffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    height: 75vh;
    overflow: auto;
    border-radius: 5px;
}


/*
.title {
    letter-spacing: 9px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}
*/

.title {
    font-family: 'Press Start 2P';
    padding: 5rem 0;
    font-size: 1.5em;
    color: white;
    letter-spacing: 6px;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.title:hover {
    letter-spacing: 10px;
}

.inputs {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.text {
    background-color: #fff6fc;
    color: #0000297a;
    /*border-radius: 5px;*/
    border: 1px solid #ffffff;
    font-family: 'Calibri';
    font-size: 20px;
    font-style: italic;
    width: 300px;
    height: 26px;
}

.selector {
    background-size: 10px 10px;
    background-color: #fff6fc;
    color: #292939;
    /*border-radius: 5px;*/
    border: 1px solid #ffffff;
    margin-left: 20px;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Calibri';
    width: 170px;
    height: 30px;
    font-size: 20px;
    transition: 0.3s;
}

.selector:hover {
    background-color: #292939;
    color: #f2f2e6;
}

.button {
    background-color: #fff6fc;
    color: #292939;
    /*border-radius: 5px;*/
    border: 1px solid #ffffff;
    margin-top: 20px;
    font-family: 'Calibri';
    font-size: 20px;
    width: 150px;
    height: 35px;
    transition: 0.3s;
}

.button:hover {
    background-color: #292939;
    color: #f2f2e6;
}

.result {
    margin-bottom: 10px;
    overflow: auto;
    color: #0c61a7;
    scrollbar-color: rgb(66, 68, 85) rgb(168, 162, 156);
    scrollbar-width: thin;
}

a {
    text-decoration: none;
    color: #292939;
}